<h1>Project</h1>

<section class="row text-center placeholders">
    <div class="col-6 col-sm-3 placeholder">
        <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle"
            alt="Generic placeholder thumbnail">
        <h4>Label</h4>
        <div class="text-muted">Render 1</div>
    </div>
    <div class="col-6 col-sm-3 placeholder">
        <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle"
            alt="Generic placeholder thumbnail">
        <h4>Label</h4>
        <span class="text-muted">Render 2</span>
    </div>
    <div class="col-6 col-sm-3 placeholder">
        <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle"
            alt="Generic placeholder thumbnail">
        <h4>Label</h4>
        <span class="text-muted">Render 3</span>
    </div>
    <div class="col-6 col-sm-3 placeholder">
        <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle"
            alt="Generic placeholder thumbnail">
        <h4>Label</h4>
        <span class="text-muted">Render 4</span>
    </div>
</section>