h1{
  text-align: center;
}
.paddingMenu{
  padding-top:45px;
}
input, button, .alert{
  margin-bottom: 20px;
  border-radius: 0px;
}
h1 {
  margin-bottom: 30px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 30px "Lato", sans-serif;
  color: #111;
}