<h1>{{ "project-editTitle" | translate }}</h1>

<div *ngIf="project">
    <form>
        <!--<div *ngIf="userType == 'CLIENTE' && project.ProyectoEstado == 1">-->
            <div class="form-group">
                <label for="inputTitulo">{{ "project-editLabelTitle" | translate }}</label>
                <div>
                    <input type="text" class="form-control" id="inputTitulo" [(ngModel)]="project.ProyectoTitulo" name="ProyectoTitulo"/>
                </div>
            </div>
            <div class="form-group">
                <label for="inputDescripcion">{{ "project-editLabelDescription" | translate }}</label>
                <div>
                    <textarea class="form-control" id="inputDescripcion" [(ngModel)]="project.ProyectoDescripcion" name="ProyectoDescripcion"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="inputFechaDeseada">{{ "project-editLabelExpectedDate" | translate }}</label>
                <div>
                    <input type="date" class="form-control" id="inputFechaDeseada" [(ngModel)]="project.ProyectoFechaDeseada" name="ProyectoFechaDeseada"/>
                </div>
            </div>
        <!--</div>-->


        <!--<div *ngIf="userType == 'RENDERISTA' || (userType == 'CLIENTE' && project.ProyectoEstado != 1)">-->
            <!--<div class="form-group">-->
                <!--<label for="labelTitulo">{{ "project-editLabelTitle" | translate }}</label>-->
                <!--<div>-->
                    <!--<label class="form-control" id="labelTitulo" >{{ project.ProyectoTitulo }}</label>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label for="labelDescripcion">{{ "project-editLabelDescription" | translate }}</label>-->
                <!--<div>-->
                    <!--<textarea class="form-control" id="labelDescripcion">{{ project.ProyectoDescripcion }}</textarea>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label for="labelFechaDeseada">{{ "project-editLabelExpectedDate" | translate }}</label>-->
                <!--<div>-->
                    <!--<input type="date" class="form-control" id="labelFechaDeseada" [value]="project.ProyectoFechaDeseada">-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <div class="form-group">
            <label for="labelFechaAlta">{{ "project-editLabelCreationDate" | translate }}</label>
            <div>
                <label class="form-control" id="labelFechaAlta">{{ project.ProyectoFechaAlta }}</label>
            </div>
        </div>

        <div class="form-group">
            <label for="inputPresupuesto">{{ "project-editLabelBudget" | translate }}</label>
            <div>
                <input type="text" class="form-control" id="inputPresupuesto" [(ngModel)]="project.ProyectoPresupuesto" name="ProyectoPresupuesto"/>
            </div>
        </div>

        <div class="form-group">
            <label for="inputFechaEstimada">{{ "project-editLabelEstimatedDate" | translate }}</label>
            <div>
                <input type="date" class="form-control" id="inputFechaEstimada" [(ngModel)]="project.ProyectoFechaEstimada" name="ProyectoFechaEstimada"/>
            </div>
        </div>

        <div class="form-group">
            <label for="inputCantidadRenders">{{ "project-editLabelNumberOfRenders" | translate }}</label>
            <div>
                <input type="text" class="form-control" id="inputCantidadRenders" [(ngModel)]="project.ProyectoCantidadRenders" name="ProyectoCantidadRenders"/>
            </div>
        </div>
        <!--<div *ngIf="project.ProyectoEstado != 1">-->

            <!--<div class="form-group">-->
                <!--<label for="inputPresupuesto">{{ "project-editLabelBudget" | translate }}</label>-->
                <!--<div>-->
                    <!--<input type="text" class="form-control" id="inputPresupuesto" [value]="project.ProyectoPresupuesto">-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="form-group">-->
                <!--<label for="inputFechaEstimada">{{ "project-editLabelEstimatedDate" | translate }}</label>-->
                <!--<div>-->
                    <!--<input type="date" class="form-control" id="inputFechaEstimada" [value]="project.ProyectoFechaEstimada">-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="form-group">-->
            <!--<label for="labelCantidadRenders">{{ "project-editLabelNumberOfRenders" | translate }}</label>-->
            <!--<div>-->
                <!--<label type="number" class="form-control" id="labelCantidadRenders">{{ project.ProyectoCantidadRenders }}</label>-->
            <!--</div>-->
        <!--</div>-->

        <div class="form-group">
            <label for="labelEstado">{{ "project-editLabelStatus" | translate }}</label>
            <div>
                <label class="form-control" id="labelEstado">{{ project.ProyectoEstadoVarChar }}</label>
            </div>
        </div>

        <div class="projectButtons row">
            <button class="btn btn-primary col-md-4 offset-md-4" type="button" (click)="saveChanges()">{{ "project-editButtonSaveChanges" | translate }}</button>
            <button class="btn btn-primary col-md-4 offset-md-4" type="button" (click)="sendToValidate()">{{ "project-editButtonSendToValidate" | translate }}</button>
            <button class="btn btn-primary col-md-4 offset-md-4" type="button" (click)="deleteProject()">{{ "project-editButtonDelete" | translate }}</button>
        </div>
    </form>
</div>

{{ message }}
<div *ngIf="errores.length > 0" class="alert alert-danger errores">
    <div *ngFor="let error of errores;">
        {{error.Description}}
    </div>
</div>