<div class="container">
    <div class="row">
        <h1 class="col-12">Presupuestos Aceptados</h1>
        <div *ngIf="loading" style="text-align: center; width: 100%;">
            <img src="../../img/loading.gif" class="loading"/>
        </div>
        <div *ngIf="!loading && solicitudesAceptadas.length == 0" class="col-12">
            <p>
                Aún no has presupuestado ningún trabajo.
            </p>
            <p>
                <a routerLink="/dashboard/listado-solicitudes">Busca y presupuesta ahora!</a>
            </p>
        </div>
        <div *ngIf="!loading && solicitudesAceptadas.length > 0" class="col-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Imagen</th>
                        <th>Título</th>
                        <th>Servicio</th>
                        <th>Nombre de usuario</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let publicacion of solicitudesAceptadas;">
                        <td *ngIf="publicacion.Imagenes[0]!=null && publicacion.Imagenes[0]!=''"><img src="{{baseURL}}/Imagenes/Ofertas/{{publicacion.Imagenes[0]}}" class="figure-img img-fluid rounded" alt="{{publicacion.Imagenes[0]}}" height="50px" width="50px" ></td>
                        <td *ngIf="publicacion.Imagenes[0]==null || publicacion.Imagenes[0]==''"><img src="{{baseURL}}/Imagenes/Ofertas/SinImagen.jpg" class="figure-img img-fluid rounded" alt="{{publicacion.Imagenes[0]}}" height="50px" width="50px" ></td>
                        <td><a class="linkManual" [routerLink]="['/dashboard/ver-publicacion-solicitada/', publicacion.Id]">{{publicacion.Titulo}}</a></td>
                        <th scope="row">{{publicacion.Servicio.Nombre}}</th>
                        <td>{{publicacion.Cliente.NombreUsuario}}</td>
                        <td>
                            <div class="linkManual float-left" [routerLink]="['/dashboard/ver-perfil-usuario/', publicacion.Cliente.Id]"><i class="fa fa-user" aria-hidden="true"></i> Contacto</div>                        
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="mensajes.Errores.length > 0" class="alert alert-danger errores">
            <div *ngFor="let error of mensajes.Errores;">
                {{error.Descripcion}}
            </div>
        </div>
        <div *ngIf="mensajes.Exitos.length > 0" class="alert alert-success exitos">
            <div *ngFor="let exito of mensajes.Exitos;">
                {{exito.Descripcion}}
            </div>
        </div>
    </div>
</div>