<div class="container">
    <div class="row justify-content-center">
        <h1 class="col-12 text-center">Perfil de Usuario</h1>
        
        <div *ngIf="loading">
            <img src="../../img/loading.gif" class="loading"/>
        </div>

        <div *ngIf="!loading && cliente" class="col-md-6 col-lg-5 col-xl-4">
            <h2>{{cliente.NombreUsuario}}</h2>

                <label for="inputNombre">Nombre:</label>
                <input type="text" class="form-control" [(ngModel)]="cliente.Nombre" id="inputNombre" name="Nombre" placeholder="Nombre">

                <label for="inputApellido">Apellido:</label>
                <input type="text" class="form-control" [(ngModel)]="cliente.Apellido" id="inputApellido" name="Apellido" placeholder="Apellido">
                
                <label for="inputTelefono">Teléfono:</label>
                <input type="text" class="form-control" [(ngModel)]="cliente.Telefono" id="inputTelefono" name="Telefono" placeholder="Teléfono">
                
                <label for="inputDireccion">Dirección:</label>
                <input type="text" class="form-control" [(ngModel)]="cliente.Direccion" id="inputDireccion" name="Direccion" placeholder="Dirección">
        </div>

        <div>
            <h3 style="margin-top: 20px;">Comentarios:</h3>
            <div style="margin-left: 40px" *ngFor="let comentario of comentariosPuntuacion;" class="comentario">  
                <div>
                    <i class="fa fa-user-o" aria-hidden="true"></i> {{comentario.Cliente.NombreUsuario}}
                </div>
                <div>
                        <i class="fa fa-commenting-o" aria-hidden="true"></i> {{comentario.Comentario}}
                </div>     
                <div *ngIf="comentario.Respuesta!=null && comentario.Respuesta!=''" class="respuesta">
                    <i class="fa fa-commenting" aria-hidden="true"></i> {{comentario.Respuesta}} 
                </div>
                <!--<div *ngIf="(comentario.Respuesta==null || comentario.Respuesta=='') && idUsuario==publicacion.Cliente.Id" class="respuesta">
                    <div class="linkManual" (click)="responderComentario(comentario.Id)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Responder</div> 
                </div>   -->
                <!--<div *ngIf="responder && (comentario.Respuesta==null || comentario.Respuesta=='')" class="respuesta">-->
                <div id="respuesta{{comentario.Id}}" hidden="hidden" class="respuesta"> 
                    <label for="inputRespuesta" class="sr-only">Respuesta:</label>
                    <textarea rows="5" class="form-control" id="txtRespuesta{{comentario.Id}}" name="Respuesta" placeholder="Respuesta..."></textarea>
                    <button type="button" class="btn btn-primary btn-block" id="btnGuardarRespuesta{{comentario.Id}}" (click)="guardarRespuesta(comentario.Id)">Responder</button>
                </div>                                    
                <div *ngIf="comentario.Puntuacion==0">
                    Puntaje: ({{comentario.Puntuacion}})
                </div>
                <div *ngIf="comentario.Puntuacion==1">
                    Puntaje: ★({{comentario.Puntuacion}})
                </div>
                <div *ngIf="comentario.Puntuacion==2">
                    Puntaje: ★★({{comentario.Puntuacion}})
                </div>
                <div *ngIf="comentario.Puntuacion==3">
                    Puntaje: ★★★({{comentario.Puntuacion}})
                </div>
                <div *ngIf="comentario.Puntuacion==4">
                    Puntaje: ★★★★({{comentario.Puntuacion}})
                </div>
                <div *ngIf="comentario.Puntuacion==5">
                    Puntaje: ★★★★★({{comentario.Puntuacion}})
                </div>                           
            </div>
        </div>
        
        <div class="col-12">
            <div *ngIf="mensajes.Errores.length > 0" class="alert alert-danger errores">
                <div *ngFor="let error of mensajes.Errores;">
                    {{error.Descripcion}}
                </div>
            </div>

            <div *ngIf="mensajes.Exitos.length > 0" class="alert alert-success exitos">
                <div *ngFor="let exito of mensajes.Exitos;">
                    {{exito.Descripcion}}
                </div>
            </div>
        </div>
  </div>
</div>