<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            <div class="masthead clearfix">
                <div class="inner">
                    <a href=""><h3 class="masthead-brand">SPODS</h3></a>
                    <nav class="nav nav-masthead">
                        <a class="nav-link opcionMenuPrincipal active" >Inicio</a>
                        <a class="nav-link opcionMenuPrincipal" [routerLink]="['inicio-sesion']">Iniciar Sesión</a>
                        <a class="nav-link opcionMenuPrincipal" [routerLink]="['registro-cliente']">Registrarse</a>
                    </nav>
                </div>
            </div>
            <div class="inner cover">
                <h1 class="cover-heading">Lorem Ipsum</h1>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultrices dictum hendrerit. In aliquam et augue at commodo. Curabitur porttitor laoreet magna, id volutpat eros. Sed quis dui eget odio porttitor sodales. Nam non quam mollis, condimentum nibh vel, auctor nunc. Nullam sodales, magna id fermentum scelerisque, purus nibh tempus diam, et sollicitudin felis felis sit amet justo. Quisque a ligula sapien. Maecenas vitae sodales leo, id pellentesque lacus. Ut ullamcorper est vel lorem convallis, faucibus aliquet erat varius. Vivamus ut cursus turpis. Mauris aliquam purus et mauris convallis feugiat. Fusce convallis lacus eget mauris tincidunt, vitae eleifend est elementum.</p>
                <p class="lead">
                    <a [routerLink]="['inicio-sesion']" class="btn btn-lg btn-secondary">Iniciar Sesión</a>
                </p>
            </div>
            <div class="mastfoot">
                <div class="inner">
                    <p>SPODS by <a href="" target="_blank">Díaz & Speroni</a></p>
                </div>
            </div>
        </div>
    </div>
</div>