<div class="container paddingMenu">
  <div class="row justify-content-center">
    <div class="col-md-6">
    <h1>Registro de usuario</h1>  
        
        <!--PASO 1-->
        <div [hidden]="step != 1">
            <div class="contenedorProgressBar">
                <div class="container">
                    <div class="row">
                        <div class="col" style="text-align: center">
                            <b ><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> Paso 1</b>
                        </div>
                        <div class="col" style="text-align: center">
                            <small>Paso 2</small>
                        </div>
                        <div class="col" style="text-align: center">
                            <small>Paso 3</small>
                        </div>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%"></div>
                </div>
            </div>

            <label for="inputNombre" class="sr-only">Nombre</label>
            <input type="text" class="form-control" [(ngModel)]="cliente.Nombre" id="inputNombre" name="Nombre" placeholder="Nombre">

            <label for="inputApellido" class="sr-only">Apellido</label>
            <input type="text" class="form-control" [(ngModel)]="cliente.Apellido" id="inputApellido" name="Apellido" placeholder="Apellido">

            <label for="inputCorreoElectronico" class="sr-only">Correo Electrónico</label>
            <input type="text" class="form-control" [(ngModel)]="cliente.CorreoElectronico" id="inputCorreoElectronico" name="CorreoElectronico" placeholder="Correo Electrónico">

            <label for="inputTelefono" class="sr-only">Teléfono</label>
            <input type="text" class="form-control" [(ngModel)]="cliente.Telefono" id="inputTelefono" name="Telefono" placeholder="Teléfono">
            
            <label for="inputDireccion" class="sr-only">Dirección</label>
            <input type="text" class="form-control" [(ngModel)]="cliente.Direccion" id="inputDireccion" name="Direccion" placeholder="Dirección">

            <!--Combo desplegable para barrio-->
            <label for="selectBarrio" class="sr-only">Barrio</label>
            <select id="selectBarrio" class="form-control" [(ngModel)]="cliente.Barrio.Id" name="Barrio">
                <option value="0">Seleccione un Barrio</option>
                <option *ngFor="let barrio of barrios;" [value]="barrio.Id">{{barrio.Nombre}}</option>
            </select>

            <div class="float-right" id="contenedorTerminos" style="margin-bottom: 20px;">
                <label for="inputTerminosAceptados" id="labelTerminosAceptados" style="margin-bottom: 0;">Acepto los términos y condiciones</label>
                <input type="checkbox" [(ngModel)]="terminosAcpetados" id="inputTerminosAceptados" style="margin-bottom: 0;">
                <a class="text-right" [href]="archivoTerminos" target="_blank" id="linkTerminos" style="display:block; margin: 0; padding: 0;">Ver términos y condiciones.</a>
            </div>

            <button class="btn btn-primary btn-block" (click)="registrarClientePaso1()">Siguiente</button>
        </div>

        <!--PASO 2-->
        
        <div [hidden]="step != 2">
            <div class="contenedorProgressBar">
                <div class="container">
                    <div class="row">
                        <div class="col" style="text-align: center">
                           <small> Paso 1</small>
                        </div>
                        <div class="col" style="text-align: center">
                            <b><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> Paso 2</b>
                        </div>
                        <div class="col" style="text-align: center">
                           <small> Paso 3</small>
                        </div>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100" style="width: 67%"></div>
                </div>
            </div>           

            <!--Yo le asignaría el correo en el back. Le evitamos recordar 2 cosas al usuario.-->
            <label for="inputNombreUsuario" class="sr-only">Nombre de Usuario</label>
            <input type="text" class="form-control" [(ngModel)]="cliente.NombreUsuario" id="inputNombreUsuario" name="NombreUsuario" placeholder="Nombre de Usuario">

            <label for="inputContrasena" class="sr-only">Contraseña</label>
            <input type="password" class="form-control" [(ngModel)]="cliente.Contrasena" id="inputContrasena" name="Contrasena" placeholder="Contraseña">

            <label for="inputContrasenaConfirmacion" class="sr-only">Repetir Contraseña</label>
            <input type="password" class="form-control" id="inputContrasenaConfirmacion" [(ngModel)]="contrasenaConfirmacion" name="ContrasenaConfirmacion" placeholder="Repetir Contraseña">

            <button class="btn btn-primary btn-block" (click)="registrarClientePaso2()">Siguiente</button>          
            <button class="btn btn-secondary btn-block" (click)="volverPaso1()" >Anterior</button>
            <button onclick="document.getElementById('moodleform').submit();" id="mostrarImagenes" style="display: none"></button>
        </div>

        <!--PASO 3-->
        <div [hidden]="step != 3">
            <div class="contenedorProgressBar">
                <div class="container">
                    <div class="row">
                        <div class="col" style="text-align: center">
                           <small> Paso 1</small>
                        </div>
                        <div class="col" style="text-align: center">
                           <small> Paso 2</small>
                        </div>
                        <div class="col" style="text-align: center">
                            <b><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> Paso 3</b>
                        </div>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                </div>
            </div>
            <div class="alert alert-info">
                <strong>Selección de imagen.</strong> La carga de selección de la imagen puede demorar unos segundos.
            </div>
            <!--<button class="btn btn-primary " id="btnFrame" onclick="document.getElementById('moodleform').submit();">Prueba</button>-->
            <form id="moodleform" target="iframe" method="get" action="{{urlImagen}}">
                <!--NO SE POR QUE EN LA CONTRASE;A ANDA BIEN ANGULAR PERO EN EL IDCLIENTE NO... LO SETEE A MANO DESDE TYPESCRIPT-->
                <input type="hidden" name="idCliente" id="inputIdCliente"/>
                <input type="hidden" name="contrasena" value="{{cliente.Contrasena}}"/>
            </form>
            <iframe name="iframe" width=100% height=300 scrolling="no" marginwidth=0 marginheight=0 frameborder=0></iframe>
            <button class="btn btn-primary btn-block" (click)="registrarClientePaso3()">Finalizar</button>
        </div>

        <div *ngIf="mensajes.Errores.length > 0" class="alert alert-danger errores">
            <div *ngFor="let error of mensajes.Errores;">
                {{error.Descripcion}}
            </div>
        </div>

        <div *ngIf="mensajes.Exitos.length > 0" class="alert alert-success exitos">
            <div *ngFor="let exito of mensajes.Exitos;">
                {{exito.Descripcion}}
            </div>
        </div>
    </div>
  </div>
</div>







