.tab-pane{
    margin-top: 20px;
}
.btn{
    margin-top: 20px;
}

.renders{
    margin-bottom: 20px;
}

.cardFile {
    margin-top: 20px;
}

#imgPopUp{
    height: 100%;
    width: 100%;
}

.avisosPopUp{
    margin-top: 10px;
}

.erroresPopUp{
    margin-top: 10px;
}