html,
body {
  height: 100%;
}

body{
  overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}

.loading {
  height: 100px;
  width: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.errores {
  margin-top: 20px;
}

.exitos {
  margin-top: 20px;
}

h1, h2, h3, h4, h5, h6{
  margin: 0 0 20px 0;
}

.noPadding{
  padding: 0;
}

.noMargin{
  margin: 0;
}

.linkManual:focus,.linkManual:hover{
    color: #014c8c;
    text-decoration: underline;
    cursor: pointer;
}

.linkManual:active,.linkManual:hover{
    outline-width: 0;
}

.linkManual{
    color: #0275d8;
    text-decoration: none;
    margin-left: 4px;
    margin-right: 4px;
}

.dropdown-item{
  cursor: pointer;
}