.container {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
  /*background-image: url("./img/back-login.jpg");*/
  background-size: cover;
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.form-clientRegister {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-clientRegister .form-clientRegister-heading{
  margin-bottom: 10px;
}
.form-clientRegister .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-clientRegister .form-control:focus {
  z-index: 2;
}
/*.form-clientRegister #inputFirstName {*/
  /*margin-bottom: -1px;*/
  /*border-bottom-right-radius: 0;*/
  /*border-bottom-left-radius: 0;*/
/*}*/
/*.form-clientRegister #inputLastName {*/
  /*margin-bottom: -1px;*/
  /*margin-top: -1px;*/
  /*border-radius: 0;*/
/*}*/
/*.form-clientRegister #inputEmail {*/
  /*margin-bottom: -1px;*/
  /*margin-top: -1px;*/
  /*border-radius: 0;*/
/*}*/
/*.form-clientRegister #inputCity {*/
  /*margin-bottom: -1px;*/
  /*margin-top: -1px;*/
  /*border-radius: 0;*/
/*}*/
/*.form-clientRegister #inputWebsite {*/
   /*margin-bottom: -1px;*/
   /*margin-top: -1px;*/
   /*border-radius: 0;*/
/*}*/
/*.form-clientRegister #selectCountry {*/
  /*margin-bottom: -1px;*/
  /*margin-top: -1px;*/
  /*border-radius: 0;*/
/*}*/
/*.form-clientRegister #inputPassword {*/
  /*margin-bottom: 10px;*/
  /*border-top-left-radius: 0;*/
  /*border-top-right-radius: 0;*/
/*}*/

.form-clientRegister input,
.form-clientRegister select{
  margin-bottom: 10px;
}

.errores {
  margin-top: 10px;
}

.btn-primary {
    color: #fff;
    background-color: #6c9245;
    border-color: #849873;
}