<div class="container">
    <form class="form-signin" role="form" (submit)="iniciarSesion(username.value, password.value)">
        <h2 class="form-signin-heading">{{ "loginTitle" | translate }}</h2>
        <label for="inputEmail" class="sr-only">{{ "loginLabelEmail" | translate }}</label>
        <input type="email" id="inputEmail" class="form-control" [placeholder]="'loginPlaceHolderEmail' | translate" required autofocus  #username>
        <label for="inputPassword" class="sr-only">{{ "loginLabelPassword" | translate }}</label>
        <input type="password" id="inputPassword" class="form-control" [placeholder]="'loginPlaceHolderPassword' | translate" required #password>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> {{ "loginChkRemember" | translate }}
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">{{ "loginBtnSignIn" | translate }}</button>
        <label class="btn-block">
            <a href="javascript:void(0)" (click)="goClientRegister()">{{ "loginLinkClientRegister" | translate }}</a>
        </label>
        <label class="btn-block">
            <a href="javascript:void(0)" (click)="goRendererRegister()">{{ "loginLinkRendererRegister" | translate }}</a>
        </label>
        <label class="btn-block">
            <a href="javascript:void(0)" (click)="goForgotPassword()">{{ "loginLinkForgotPassword" | translate }}</a>
        </label>

        {{ message }}
        <div *ngIf="errores.length > 0" class="alert alert-danger errores">
            <div *ngFor="let error of errores;">
                {{error.Description}}
            </div>
        </div>
    </form>
</div>