<div class="container">
  <div class="row">
    <h1 class="col-12 text-center">Solicitudes Ofrecidos</h1>
    <div class="col-sm-12">
        <h2>{{nombreServicio}}</h2>

        <!--<div *ngFor="let publicacion of publicaciones;">

                {{publicacion.Titulo}}
        </div>-->

        <div class="list-group">
            <div *ngFor="let publicacion of publicaciones;">
                <a [routerLink]="['/dashboard/ver-publicacion-solicitada/', publicacion.Id]" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <figure class="figure">
                                    <img src="{{baseURL}}/Imagenes/Clientes/{{publicacion.Cliente.Imagen}}" class="figure-img img-fluid rounded" alt="{{publicacion.Cliente.Imagen}}" >
                                    <figcaption class="figure-caption text-center">{{publicacion.Cliente.NombreUsuario}}</figcaption>
                                </figure>
                            </div>
                            <div class="col-10">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">{{publicacion.Titulo}}</h5>
                                    <small class="hidden-sm-down">{{publicacion.FechaAlta}}</small>
                                </div>
                                <p class="mb-1">{{publicacion.Descripcion}}</p>
                                <small>Calificación...</small>                               
                            </div>
                        </div>
                    </div>
                </a>
                 <!--<a [routerLink]="['/dashboard/ver-publicacion-solicitada/', publicacion.Id, publicacion.ContactoConComentarioPendiente.Id ]" class="list-group-item list-group-item-action flex-column align-items-start" *ngIf="publicacion.ContactoConComentarioPendiente!=null && publicacion.ContactoConComentarioPendiente.Cliente.Id==idUsuario">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <figure class="figure">
                                    <img src="{{baseURL}}/Imagenes/Clientes/{{publicacion.Cliente.Imagen}}" class="figure-img img-fluid rounded" alt="{{publicacion.Cliente.Imagen}}" >
                                    <figcaption class="figure-caption text-center">{{publicacion.Cliente.NombreUsuario}}</figcaption>
                                </figure>
                            </div>
                            <div class="col-10">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">{{publicacion.Titulo}}</h5>
                                    <small class="hidden-sm-down">{{publicacion.FechaAlta}}</small>
                                </div>
                                <p class="mb-1">{{publicacion.Descripcion}}</p>
                                <small>Calificación...</small>
                                <small *ngIf="publicacion.Activa  && publicacion.ContactoConComentarioPendiente!=null" class="linkManual"><i class="fa fa-comments-o" aria-hidden="true"></i>  Comentar</small>
                            </div>
                        </div>
                    </div>
                </a> -->
            </div>       
        </div>

        <div *ngIf="mensajes.Errores.length > 0" class="alert alert-danger errores">
            <div *ngFor="let error of mensajes.Errores;">
                {{error.Descripcion}}
            </div>
        </div>

        <div *ngIf="mensajes.Exitos.length > 0" class="alert alert-success exitos">
            <div *ngFor="let exito of mensajes.Exitos;">
                {{exito.Descripcion}}
            </div>
        </div>
    </div>
  </div>
</div>