<div class="bgimg-1 paddingMenu">
  <div class="caption">
    <span class="border">SPODS</span>
  </div>
</div>

<div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
  <h3 style="text-align:center;">SPODS Soluciones en servicios</h3>
  <p>
    SPODS es una aplicación pensada con el objetivo de facilitar la busqueda de trabajadores en distintos rubros.
    Brinda seguridad a la hora de contratar el personal necesario en base a comentarios y puntuaciones realizadas por otros
    usuarios de la comunidad.
    SPODS no cuenta con intermediarios. Cada usuario se registra en el sistema, se postula como trabajador en el rubro que
    desee y está listo para ser contactado.
    SPODS cuenta también con la posibilidad de publicar el trabajo a ser realizado, obteniendo así presupuestos
    de los distintos trabajadores pudiendo optar por la opción que crea más conveniente.
  </p>
</div>

<div class="bgimg-2">
  <div class="caption">
    <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">FÁCIL Y RÁPIDO</span>
  </div>
</div>

<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
    <p>Regístrate fácilmente en el sistema y busca las mejores soluciones en servicios.</p>
  </div>
</div>

<div class="bgimg-3">
  <div class="caption">
    <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">NUEVAS OPORTUNIDADES LABORALES</span>
  </div>
</div>

<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
    <p>
      Crea publicaciones en los rubros que sepas desempeñar y espera a ser contactado. 
      Publíca tus necesidades y obten presupuestos de los trabajadores de la comunidad.
    </p>
  </div>
</div>

<div class="bgimg-1">
  <div class="caption">
    <span class="border">ÚSALO!</span>
  </div>
</div>
