<div class="container">
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
        <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <a class="navbar-brand" href="#"><img src="../../img/LogoMarph.PNG"></a>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link linkMenuBar" href="#">{{ "dashboardMenuBarLinkHome" | translate }} <span class="sr-only">{{ "dashboardMenuBarSpanCurrent" | translate }}</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link linkMenuBar" href="#">{{ "dashboardMenuBarLinkSettings" | translate }}</a>
                </li>
                <li class="nav-item" *ngIf="tipoUsuario == 'CLIENTE' || tipoUsuario == 'RENDERISTA' ">
                    <a class="nav-link linkMenuBar" href="javascript:void(0)" (click)="gotoProfile()">{{ "dashboardMenuBarLinkProfile" | translate }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link linkMenuBar" href="#">{{ "dashboardMenuBarLinkHelp" | translate }}</a>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" [placeholder]="'dashboardMenuBarPlaceHolderSearch' | translate">
                <button class="btn btn-outline-success my-2 my-sm- btnSearch" type="submit">{{ "dashboardMenuBarBtnSearch" | translate }}</button>
            </form>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">

                <ul class="nav nav-pills flex-column">
                    <!--Dentro de este, van las opciones de menú de los Clientes-->
                    <div *ngIf="tipoUsuario == 'CLIENTE'">
                        <ul class="nav nav-pills flex-column">
                            <li class="nav-item">
                                <a class="nav-link linkMenu active" [routerLink]="['overview']">{{ "dashboardMenuLinkOverview" | translate }} <span class="sr-only">({{ "dashboardMenuSpanCurrent" | translate }}</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link linkMenu" [routerLink]="['my-projects']">{{ "dashboardMenuLinkMyProjects" | translate }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link linkMenu" [routerLink]="['project-register']">{{ "dashboardMenuLinkProjectRegister" | translate }}</a>
                            </li>
                        </ul>
                    </div>

                    <!--Dentro de este, van las opciones de menú de los Renderistas-->
                    <div *ngIf="tipoUsuario == 'RENDERISTA'">
                        <ul class="nav nav-pills flex-column">
                            <li class="nav-item">
                                <a class="nav-link linkMenu active" [routerLink]="['overview']">{{ "dashboardMenuLinkOverview" | translate }} <span class="sr-only">({{ "dashboardMenuSpanCurrent" | translate }}</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link linkMenu" [routerLink]="['my-projects']">{{ "dashboardMenuLinkMyProjects" | translate }}</a>
                            </li>
                        </ul>
                    </div>

                    <!--Dentro de este, van las opciones de menú de los Administradores (Tipo de usuario MARPH)-->
                    <div *ngIf="tipoUsuario == 'MARPH'">
                        <ul class="nav nav-pills flex-column">
                            <li class="nav-item">
                                <a class="nav-link linkMenu active" [routerLink]="['overview']">{{ "dashboardMenuLinkOverview" | translate }} <span class="sr-only">({{ "dashboardMenuSpanCurrent" | translate }}</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link linkMenu" [routerLink]="['my-projects']">{{ "dashboardMenuLinkProjects" | translate }}</a>
                            </li>
                        </ul>
                    </div>
                </ul>

                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link linkMenu" href="javascript:void(0)" (click)="exit()">{{ "dashboardMenuLinkExit" | translate }}</a>
                    </li>
                </ul>
            </nav>

            <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
                <div class="ContenedorDashboard">
                    <router-outlet></router-outlet>
                </div>
            </main>
        </div>
    </div>
</div>