<div class="container">
  <div class="row">
    <h1 class="col-12 text-center">Servicio Solicitado</h1>
    <div class="col-sm-10 col-md-12">
        <h2>{{publicacion.Servicio.Nombre}}</h2>
        <div class="container">
            <div class="row">              
                <div class="col-md-8"> 
                    <div class="card">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-md-5">   

                                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                        <div class="carousel-inner" role="listbox">
                                            <div [ngClass]="{ active: publicacion.Imagenes[0] == imagen }" class="carousel-item" *ngFor="let imagen of publicacion.Imagenes;">           
                                                <img class="d-block" src="{{baseURL}}/Imagenes/Ofertas/{{imagen}}"  alt="First slide"  height="200" width="200">
                                            </div>
                                            <!--<div *ngIf="publicacion.Imagenes==null || publicacion.Imagenes.Count==0" class="carousel-item active">
                                                <img class="d-block" src="{{baseURL}}/Imagenes/Ofertas/SinImagen.jpg"  alt="First slide"  height="200" width="200">
                                            </div>-->
                                        </div>
                                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                        
                                    <!--<img class="card-img-top" src="{{baseURL}}/Imagenes/Ofertas/{{publicacion.Imagenes[0]}}" alt="{{publicacion.Imagenes[0]}}" height="100" width="100">
                                    Galeria de imagenes  -->
                                </div>
                                <div class="col-xs-12 col-md-7">
                                    <div class="card-block">             
                                        <!--<small>{{publicacion.FechaAlta}}</small>              -->
                                        <h4 class="card-title">{{publicacion.Titulo}} </h4>
                                        <p class="card-text">{{publicacion.Descripcion}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" *ngFor="let respuesta of publicacion.Respuestas;">
                                <div>
                                    <b>{{respuesta.Pregunta.UnaPregunta}}</b> 
                                    <br>
                                    <p>{{respuesta.UnaRespuesta}}</p>
                                </div>
                            </li>
                        </ul>
                        <!--<div class="card-block">
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>-->
                    </div>
                    <!--<button (click)="postularme()" class="btn btn-primary btn-block" style="margin-top: 10px;">Postularme</button>-->
                    <div *ngIf="publicacion.Cliente.Id != idUsuario" class="linkManual" (click)="postularme()" style="font-size: 20px;"><i class="fa fa-sign-in" aria-hidden="true"></i> Postularme</div> 
                    <div *ngIf="postulacion"> 
                        <label for="inputPropuesta" class="sr-only">Propuesta:</label>
                        <textarea rows="5" maxlength="500" class="form-control" id="txtPropuesta" name="Propuesta" placeholder="Escriba aquí todos los detalles que considere necesarios..."></textarea>
                        <button type="button" class="btn btn-primary btn-block" id="btnPropuesta" (click)="guardarPropuesta()">Postularme</button>
                        <div *ngIf="mensajesPostulacion.Errores.length > 0" class="alert alert-danger errores">
                            <div *ngFor="let error of mensajesPostulacion.Errores;">
                                {{error.Descripcion}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">                      
                    <div class="card">
                        <img class="card-img-top align-self-center" src="{{baseURL}}/Imagenes/Clientes/{{publicacion.Cliente.Imagen}}" alt="{{publicacion.Cliente.Imagen}}" height="100" width="100">
                        <div class="card-block">
                            <h4 class="card-title" style="text-align: center">{{publicacion.Cliente.NombreUsuario}}</h4>
                            <!--<div class="card-text" >                                   
                                <div *ngIf="promedioPublicacion==0">
                                    Puntaje publicación: <span class="promedio">({{promedioPublicacion}})</span>
                                </div>
                                <div *ngIf="promedioPublicacion<=1 && promedioPublicacion>0">
                                    Puntaje publicación: <span class="promedio">★({{promedioPublicacion}})</span>
                                </div>
                                <div *ngIf="promedioPublicacion<=2 && promedioPublicacion>1">
                                    Puntaje publicación: <span class="promedio">★★({{promedioPublicacion}})</span>
                                </div>
                                <div *ngIf="promedioPublicacion<=3 && promedioPublicacion>2">
                                    Puntaje publicación: <span class="promedio">★★★({{promedioPublicacion}})</span>
                                </div>
                                <div *ngIf="promedioPublicacion<=4 && promedioPublicacion>3">
                                    Puntaje publicación: <span class="promedio">★★★★({{promedioPublicacion}})</span>
                                </div>
                                <div *ngIf="promedioPublicacion==5">
                                    Puntaje publicación: <span class="promedio">★★★★★({{promedioPublicacion}})</span>
                                </div>
                                                            
                                <div *ngIf="promedioServicio==0">
                                    Puntaje servicio: <span class="promedio">({{promedioServicio}})</span>
                                </div>
                                <div *ngIf="promedioServicio<=1 && promedioServicio>0">
                                    Puntaje servicio: <span class="promedio">★({{promedioServicio}})</span>
                                </div>
                                <div *ngIf="promedioServicio<=2 && promedioServicio>1">
                                    Puntaje servicio: <span class="promedio">★★({{promedioServicio}})</span>
                                </div>
                                <div *ngIf="promedioServicio<=3 && promedioServicio>2">
                                    Puntaje servicio: <span class="promedio">★★★({{promedioServicio}})</span>
                                </div>
                                <div *ngIf="promedioServicio<=4 && promedioServicio>3">
                                    Puntaje servicio: <span class="promedio">★★★★({{promedioServicio}})</span>
                                </div>
                                <div *ngIf="promedioServicio==5">
                                    Puntaje servicio: <span class="promedio">★★★★★({{promedioServicio}})</span>
                                </div>
                            </div>-->
                            <!--<div class="container" *ngIf="publicacion.Cliente.Id != idUsuario">
                                <div class="row justify-content-center">
                                    <div class="align-self-center">
                                        <button (click)="contactar()" class="btn btn-primary" style="margin-top: 10px;">Contactar</button>
                                    </div>
                                </div>
                            </div>-->
                        </div>
                    </div>
                </div>

                
                <div class="container">
                    <div class="row">                        
                        <div class="col-8" >
                            <h3 style="margin-top: 20px; margin-bottom: 0px;">Propuestas:</h3>  
                            <div *ngIf="!mostrarPropuestas" class="linkManual" (click)="mostrarPropuesta()"><i class="fa fa-eye" aria-hidden="true"></i><small> Mostrar</small></div>
                            <div *ngIf="mostrarPropuestas" class="linkManual" (click)="mostrarPropuesta()"><i class="fa fa-eye-slash" aria-hidden="true"></i><small> Ocultar</small></div>  
                            <table class="table table-hover" *ngIf="mostrarPropuestas">
                                <tbody>
                                    <tr *ngFor="let presupuesto of presupuestos;">
                                    <td>
                                        <figure class="figure">
                                            <img src="{{baseURL}}/Imagenes/Clientes/{{presupuesto.Cliente.Imagen}}" class="figure-img img-fluid rounded" alt="{{presupuesto.Cliente.Imagen}}" height="50px" width="50px" >
                                        <figcaption class="figure-caption">
                                            {{presupuesto.Cliente.NombreUsuario}}</figcaption>
                                        </figure>
                                    </td>
                                    <td>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-12">
                                                   <b> Propuesta:</b>
                                                </div>
                                                <div class="col-12">
                                                    {{presupuesto.Comentario}}
                                                </div>
                                                <div class="col-12">
                                                    <div *ngIf="idUsuario==publicacion.Cliente.Id" class="linkManual" (click)="aceptarPresupuesto(presupuesto)"><i class="fa fa-check" aria-hidden="true"></i> Aceptar Propuesta</div> 
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    </tr>                                   
                                </tbody>
                            </table>                          
                        </div>
                    </div>
                </div>
                <!--<div class="container">
                    <div class="row"> 
                        <div class="col-8">
                            <h3 style="margin-top: 20px;">Comentarios:</h3>
                            <div style="margin-left: 40px" *ngFor="let comentario of publicacion.ComentariosPuntuacion;" class="comentario">  
                                <div>
                                    <i class="fa fa-user-o" aria-hidden="true"></i> {{comentario.Cliente.NombreUsuario}}
                                </div>
                                <div>
                                    <i class="fa fa-commenting-o" aria-hidden="true"></i> {{comentario.Comentario}}
                                </div>     
                                <div *ngIf="comentario.Respuesta!=null && comentario.Respuesta!=''" class="respuesta">
                                    <i class="fa fa-commenting" aria-hidden="true"></i> {{comentario.Respuesta}} 
                                </div>
                                <div *ngIf="(comentario.Respuesta==null || comentario.Respuesta=='') && idUsuario==publicacion.Cliente.Id" class="respuesta">
                                    <div class="linkManual" (click)="responderComentario(comentario.Id)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Responder</div> 
                                </div>   
                               
                                <div id="respuesta{{comentario.Id}}" hidden="hidden" class="respuesta"> 
                                    <label for="inputRespuesta" class="sr-only">Respuesta:</label>
                                    <textarea rows="5" class="form-control" id="txtRespuesta{{comentario.Id}}" name="Respuesta" placeholder="Respuesta..."></textarea>
                                    <button type="button" class="btn btn-primary btn-block" id="btnGuardarRespuesta{{comentario.Id}}" (click)="guardarRespuesta(comentario.Id)">Responder</button>
                                </div>                                    
                                <div *ngIf="comentario.Puntuacion==0">
                                    Puntaje: ({{comentario.Puntuacion}})
                                </div>
                                <div *ngIf="comentario.Puntuacion==1">
                                    Puntaje: ★({{comentario.Puntuacion}})
                                </div>
                                <div *ngIf="comentario.Puntuacion==2">
                                    Puntaje: ★★({{comentario.Puntuacion}})
                                </div>
                                <div *ngIf="comentario.Puntuacion==3">
                                    Puntaje: ★★★({{comentario.Puntuacion}})
                                </div>
                                <div *ngIf="comentario.Puntuacion==4">
                                    Puntaje: ★★★★({{comentario.Puntuacion}})
                                </div>
                                <div *ngIf="comentario.Puntuacion==5">
                                    Puntaje: ★★★★★({{comentario.Puntuacion}})
                                </div>                           
                            </div>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>

        <div *ngIf="mensajes.Errores.length > 0" class="alert alert-danger errores">
            <div *ngFor="let error of mensajes.Errores;">
                {{error.Descripcion}}
            </div>
        </div>

        <div *ngIf="mensajes.Exitos.length > 0" class="alert alert-success exitos">
            <div *ngFor="let exito of mensajes.Exitos;">
                {{exito.Descripcion}}
            </div>
        </div>
    </div>
  </div>
</div>



