<div class="container">
  <div class="row">
    <h1 class="col-12 text-center">Servicio Solicitado</h1>
    <div class="col-sm-10 col-md-12">
        <h2>{{publicacion.Servicio.Nombre}}</h2>
        <div class="container">
            <div class="row">              
                <div class="col-md-8"> 
                    <div class="card">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-md-5">   

                                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                        <div class="carousel-inner" role="listbox" *ngIf="!sinImagenes">
                                            <div [ngClass]="{ active: publicacion.Imagenes[0] == imagen }" class="carousel-item" *ngFor="let imagen of publicacion.Imagenes;">           
                                                <img class="d-block" src="{{baseURL}}/Imagenes/Ofertas/{{imagen}}"  alt="First slide"  height="200" width="200">
                                            </div>
                                        </div>
                                        <div class="carousel-inner" role="listbox" *ngIf="sinImagenes">
                                            <div  class="carousel-item active">           
                                                <img class="d-block" src="{{baseURL}}/Imagenes/Ofertas/SinImagen.jpg"  alt="First slide"  height="200" width="200">
                                            </div>
                                        </div>
                                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                        
                                    <!--<img class="card-img-top" src="{{baseURL}}/Imagenes/Ofertas/{{publicacion.Imagenes[0]}}" alt="{{publicacion.Imagenes[0]}}" height="100" width="100">
                                    Galeria de imagenes  -->
                                </div>
                                <div class="col-xs-12 col-md-7">
                                    <div class="card-block">             
                                        <!--<small>{{publicacion.FechaAlta}}</small>              -->
                                        <h4 class="card-title">{{publicacion.Titulo}} </h4>
                                        <p class="card-text">{{publicacion.Descripcion}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" *ngFor="let respuesta of publicacion.Respuestas;">
                                <div>
                                    <b>{{respuesta.Pregunta.UnaPregunta}}</b> 
                                    <br>
                                    <p>{{respuesta.UnaRespuesta}}</p>
                                </div>
                            </li>
                        </ul>
                        <!--<div class="card-block">
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>-->
                    </div>
                    <!--<button (click)="postularme()" class="btn btn-primary btn-block" style="margin-top: 10px;">Postularme</button>-->
                    <div *ngIf="publicacion.Cliente.Id != idUsuario && !publicacion.Finalizada" class="linkManual" (click)="postularme()" style="font-size: 20px;"><i class="fa fa-sign-in" aria-hidden="true"></i> Postularme</div> 
                    <div *ngIf="postulacion"> 
                        <label for="inputPropuesta" class="sr-only">Propuesta:</label>
                        <textarea rows="5" maxlength="500" class="form-control" id="txtPropuesta" name="Propuesta" placeholder="Escriba aquí todos los detalles que considere necesarios..."></textarea>
                        <button type="button" class="btn btn-primary btn-block" id="btnPropuesta" (click)="guardarPropuesta()">Postularme</button>
                        <div *ngIf="mensajesPostulacion.Errores.length > 0" class="alert alert-danger errores">
                            <div *ngFor="let error of mensajesPostulacion.Errores;">
                                {{error.Descripcion}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">                      
                    <div class="card">
                        <img class="card-img-top align-self-center" src="{{baseURL}}/Imagenes/Clientes/{{publicacion.Cliente.Imagen}}" alt="{{publicacion.Cliente.Imagen}}" height="100" width="100">
                        <div class="card-block">
                            <h4 class="card-title" style="text-align: center">{{publicacion.Cliente.NombreUsuario}}</h4>
                            <div>Barrio: {{cliente.Barrio.Nombre}}</div>
                            <div>Departamento: {{cliente.Barrio.Departamento.Nombre}}</div>
                        </div>
                    </div>
                </div>

                
                <div class="container" *ngIf="!publicacion.Finalizada">
                    <div class="row">                        
                        <div class="col-8" >
                            <h3 style="margin-top: 20px; margin-bottom: 0px;">Propuestas:</h3>  
                            <div *ngIf="!mostrarPropuestas" class="linkManual" (click)="mostrarPropuesta()"><i class="fa fa-eye" aria-hidden="true"></i><small> Mostrar</small></div>
                            <div *ngIf="mostrarPropuestas" class="linkManual" (click)="mostrarPropuesta()"><i class="fa fa-eye-slash" aria-hidden="true"></i><small> Ocultar</small></div>  
                            <table class="table table-hover" *ngIf="mostrarPropuestas">
                                <tbody>
                                    <tr *ngFor="let presupuesto of presupuestos;">
                                    <td>
                                        <figure class="figure linkManual" (click)="verDatosUsuario(presupuesto.Cliente.Id)">
                                            <img src="{{baseURL}}/Imagenes/Clientes/{{presupuesto.Cliente.Imagen}}" class="figure-img img-fluid rounded" alt="{{presupuesto.Cliente.Imagen}}" height="50px" width="50px" >
                                            <figcaption class="figure-caption">
                                                {{presupuesto.Cliente.NombreUsuario}}
                                            </figcaption>
                                        </figure>
                                    </td>
                                    <td>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-12">
                                                   <b> Propuesta:</b>
                                                </div>
                                                <div class="col-12">
                                                    {{presupuesto.Comentario}}
                                                </div>
                                                <div class="col-12">
                                                    <div *ngIf="idUsuario==publicacion.Cliente.Id" class="linkManual" (click)="aceptarPresupuesto(presupuesto)"><i class="fa fa-check" aria-hidden="true"></i> Aceptar Propuesta</div> 
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    </tr>                                   
                                </tbody>
                            </table>                          
                        </div>
                    </div>
                </div>              
            </div>
        </div>

        <div *ngIf="mensajes.Errores.length > 0" class="alert alert-danger errores">
            <div *ngFor="let error of mensajes.Errores;">
                {{error.Descripcion}}
            </div>
        </div>

        <div *ngIf="mensajes.Exitos.length > 0" class="alert alert-success exitos">
            <div *ngFor="let exito of mensajes.Exitos;">
                {{exito.Descripcion}}
            </div>
        </div>
    </div>
  </div>
</div>

<!--MODAL-->
    <div>
        <button type="button" class="btn btn-primary" id="btnModal" style="display: none" data-toggle="modal" data-target="#exampleModalLong">
            Ver datos
        </button>

        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Datos usuario</h5>
                        <button type="button" class="close" id="btnModalClose" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="media"  style="margin-bottom: 20px">
                            <img class="d-flex mr-3" src="{{baseURL}}/Imagenes/Clientes/{{clienteInfoModal.Imagen}}" alt="{{clienteInfoModal.Imagen}}" height="100" width="100">
                            <div class="media-body">
                                <div style="margin-bottom: 20px">
                                    <div>NombreUsuario: {{clienteInfoModal.NombreUsuario}}</div>
                                    <div>Nombre: {{clienteInfoModal.Nombre}}</div>
                                    <div>Apellido: {{clienteInfoModal.Apellido}}</div>
                                    <div>Barrio: {{clienteInfoModal.Barrio.Nombre}}</div>  
                                    <div>Departamento: {{clienteInfoModal.Barrio.Departamento.Nombre}}</div>  
                                </div>
                            </div>
                        </div>
                        <div>
                            <div *ngIf="promedioClienteInfoModal==0">
                                Puntaje: <span class="promedio">({{promedioClienteInfoModal}})</span>
                            </div>
                            <div *ngIf="promedioClienteInfoModal<=1 && promedioClienteInfoModal>0">
                                Puntaje: <span class="promedio">★({{promedioClienteInfoModal}})</span>
                            </div>
                            <div *ngIf="promedioClienteInfoModal<=2 && promedioClienteInfoModal>1">
                                Puntaje: <span class="promedio">★★({{promedioClienteInfoModal}})</span>
                            </div>
                            <div *ngIf="promedioClienteInfoModal<=3 && promedioClienteInfoModal>2">
                                Puntaje: <span class="promedio">★★★({{promedioClienteInfoModal}})</span>
                            </div>
                            <div *ngIf="promedioClienteInfoModal<=4 && promedioClienteInfoModal>3">
                                Puntaje: <span class="promedio">★★★★({{promedioClienteInfoModal}})</span>
                            </div>
                            <div *ngIf="promedioClienteInfoModal==5">
                                Puntaje: <span class="promedio">★★★★★({{promedioClienteInfoModal}})</span>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--FIN MODAL-->



