<h1>{{ "my-projectsTitle" | translate }}</h1>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ "my-projectsTableTitleColumnTitle" | translate }}</th>
                <th *ngIf="tipoUsuario == 'CLIENTE' || tipoUsuario == 'MARPH'">{{ "my-projectsTableTitleColumnCreationDate" | translate }}</th>
                <th *ngIf="tipoUsuario == 'RENDERISTA' || tipoUsuario == 'MARPH'">{{ "my-projectsTableTitleColumnEstimatedDate" | translate }}</th>
                <th>{{ "my-projectsTableTitleColumnNumberOfRenders" | translate }}</th>
                <th>{{ "my-projectsTableTitleColumnStatus" | translate }}</th>
                <th *ngIf="tipoUsuario == 'CLIENTE'">{{ "my-projectsTableTitleColumnActions" | translate }}</th>
                <th *ngIf="tipoUsuario == 'MARPH'">{{ "my-projectsTableTitleColumnClient" | translate }}</th>
                <th *ngIf="tipoUsuario == 'MARPH'">{{ "my-projectsTableTitleColumnRenderer" | translate }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let project of projects;">
                <td><a href="javascript:void(0)" (click)="goViewProject(project.ProyectoId)">{{project.ProyectoTitulo}}</a></td>
                <td *ngIf="tipoUsuario == 'CLIENTE' || tipoUsuario == 'MARPH'">{{project.ProyectoFechaAlta}}</td>
                <td *ngIf="tipoUsuario == 'RENDERISTA' || tipoUsuario == 'MARPH'">{{project.ProyectoFechaEstimada}}</td>
                <td>{{project.ProyectoCantidadRenders}}</td>
                <td>{{project.ProyectoEstadoVarChar}}</td>
                <td *ngIf="tipoUsuario == 'CLIENTE'">
                    <!--<a href="javascript:void(0)" (click)="goViewProject(project.ProyectoId)">-->
                        <!--<span class="fa fa-eye fa-lg" aria-hidden="true"></span>-->
                    <!--</a>-->
                    <div *ngIf="project.ProyectoEstado != 1">
                        <a class="not-active" href="javascript:void(0)">
                            <span class="fa fa-pencil fa-lg" aria-hidden="true"></span>
                        </a>
                        <a class="not-active" href="javascript:void(0)">
                            <span class="fa fa-times fa-lg" aria-hidden="true"></span>
                        </a>
                    </div>
                    <div *ngIf="project.ProyectoEstado == 1">
                        <a href="javascript:void(0)" (click)="goEditProject(project.ProyectoId)">
                            <span class="fa fa-pencil fa-lg" aria-hidden="true"></span>
                        </a>
                        <a href="javascript:void(0)" (click)="deleteProject(project.ProyectoId)">
                            <span class="fa fa-times fa-lg" aria-hidden="true"></span>
                        </a>
                    </div>
                </td>
                <td *ngIf="tipoUsuario == 'MARPH'">{{project.ClienteNombre}}</td>
                <td *ngIf="tipoUsuario == 'MARPH'">{{project.RenderistaNombre}}</td>
            </tr>
        </tbody>
    </table>
</div>

{{ message }}
<div *ngIf="errores.length > 0" class="alert alert-danger errores">
    <div *ngFor="let error of errores;">
        {{error.Description}}
    </div>
</div>