<div class="container">
  <div class="row">
    <h1 class="col-12 text-center">Servicios Ofrecidos</h1>
    <h2 class="col-12 text-center">{{nombreServicio}}</h2>

    <div class="container">
        <div class="row">
            <div class="card-group">
                <div *ngFor="let publicacion of publicaciones;" class="card text-center">
                    <div class="card-header">
                        {{publicacion.Titulo}}
                    </div>
                    <div class="card-block text-center">
                        <img class="card-img-top" src="{{baseURL}}/Imagenes/Clientes/{{publicacion.Cliente.Imagen}}" alt="{{publicacion.Cliente.Imagen}}" style="width: 50%; margin: auto;">
                        <p class="card-text">{{publicacion.Descripcion}}</p>
                        <p>Departamento: {{publicacion.Cliente.Barrio.Departamento.Nombre}}</p>
                        <p>Barrio: {{publicacion.Cliente.Barrio.Nombre}}</p>
                        <a [routerLink]="['/dashboard/ver-publicacion-ofrecida/', publicacion.Id]" class="btn btn-primary">Ver Detalles</a>
                    </div>
                    <div class="card-footer text-muted">
                        Fecha: {{publicacion.FechaAlta}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <!--<div class="col-10">
        <div class="d-flex w-100 justify-content-between">
            <small class="hidden-sm-down"></small>
        </div>
        <p class="mb-1">{{publicacion.Descripcion}}</p>
        <div>
            <div *ngIf="publicacion.PuntajePromedio==0">
                Puntaje publicación: <span class="promedio">({{publicacion.PuntajePromedio}})</span>
            </div>
            <div *ngIf="publicacion.PuntajePromedio<=1 && publicacion.PuntajePromedio>0">
                Puntaje publicación: <span class="promedio">★({{publicacion.PuntajePromedio}})</span>
            </div>
            <div *ngIf="publicacion.PuntajePromedio<=2 && publicacion.PuntajePromedio>1">
                Puntaje publicación: <span class="promedio">★★({{publicacion.PuntajePromedio}})</span>
            </div>
            <div *ngIf="publicacion.PuntajePromedio<=3 && publicacion.PuntajePromedio>2">
                Puntaje publicación: <span class="promedio">★★★({{publicacion.PuntajePromedio}})</span>
            </div>
            <div *ngIf="publicacion.PuntajePromedio<=4 && publicacion.PuntajePromedio>3">
                Puntaje publicación: <span class="promedio">★★★★({{publicacion.PuntajePromedio}})</span>
            </div>
            <div *ngIf="publicacion.PuntajePromedio==5">
                Puntaje publicación: <span class="promedio">★★★★★({{publicacion.PuntajePromedio}})</span>
            </div>   
            <div>
                Comentarios: {{publicacion.CantidadComentarios}}
            </div>
        </div>                            
    </div>-->

    <div *ngIf="mensajes.Errores.length > 0" class="alert alert-danger errores">
        <div *ngFor="let error of mensajes.Errores;">
            {{error.Descripcion}}
        </div>
    </div>

    <div *ngIf="mensajes.Exitos.length > 0" class="alert alert-success exitos">
        <div *ngFor="let exito of mensajes.Exitos;">
            {{exito.Descripcion}}
        </div>
    </div>
  </div>
</div>