<div class="container">
    <div class="row justify-content-center">
        <div>
            <h1 class="col-12 titulo" style="margin-top: 40px;">Manual de Usuario</h1>
            <p class="text-center">
                A continuación se presenta material que puede ser de ayuda para comprender el uso del sistema.
            </p>
            <div id="accordionVideos" role="tablist" aria-multiselectable="true" >

                <div class="card">
                    <div class="card-header linkManual" role="tab" id="tituloUno" data-toggle="collapse" data-parent="#accordionVideos" href="#collapseUno" aria-expanded="true" aria-controls="collapseUno">
                        <h5 class="mb-0">
                            Cómo publicar una oferta?
                        </h5>
                    </div>
                    <div id="collapseUno" class="collapse" role="tabpanel" aria-labelledby="tituloUno">
                        <div class="card-block">
                            <p class="text-justify">
                                En esta sección, se presenta un video explicativo de cómo publicar ofertas de servicios.<br>
                                Tienes conocimientos en algún área y estás buscando incrementar tus ingresos?<br>
                                Publica en SPODS!
                            </p>
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/QWIBBYtFZp4" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>

                <!--<div class="card">
                    <div class="card-header linkManual" role="tab" id="tituloDos" data-toggle="collapse" data-parent="#accordionVideos" href="#collapseDos" aria-expanded="true" aria-controls="collapseDos">
                        <h5 class="mb-0">
                            Cómo publicar una solicitud?
                        </h5>
                    </div>
                    <div id="collapseDos" class="collapse" role="tabpanel" aria-labelledby="tituloDos">
                        <div class="card-block">
                            <p class="text-justify">
                                En esta sección, se presenta un video explicativo de cómo publicar solicitudes de servicios.<br>
                                No cuentas con el conocimiento para solucionar un problema?<br>
                                Publica en SPODS!
                            </p>
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="//www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>-->

                <div class="card">
                    <div class="card-header linkManual" role="tab" id="tituloTres" data-toggle="collapse" data-parent="#accordionVideos" href="#collapseTres" aria-expanded="true" aria-controls="collapseTres">
                        <h5 class="mb-0">
                            Cómo contratar una oferta?
                        </h5>
                    </div>
                    <div id="collapseTres" class="collapse" role="tabpanel" aria-labelledby="tituloTres">
                        <div class="card-block">
                            <p class="text-justify">
                                En esta sección, se presenta un video explicativo de cómo visualizar los datos de un usuario.<br>
                                Necesitas contratar un servicio y quieres asegurarte de elegir la mejor opción?<br>
                                Revisa las calificaciones y contrata en SPODS!
                            </p>
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/jBgR1M0WT5k" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>

                <!--<div class="card">
                    <div class="card-header linkManual" role="tab" id="tituloCuatro" data-toggle="collapse" data-parent="#accordionVideos" href="#collapseCuatro" aria-expanded="true" aria-controls="collapseCuatro">
                        <h5 class="mb-0">
                            Cómo presupuestar una solicitud?
                        </h5>
                    </div>
                    <div id="collapseCuatro" class="collapse" role="tabpanel" aria-labelledby="tituloCuatro">
                        <div class="card-block">
                            <p class="text-justify">
                                En esta sección, se presenta un video explicativo de cómo postularte para realizar un trabajo.<br>
                                Mucha gente necesita de tus servicios, pero pocos llegan a encontrarte?<br>
                                Ve tú hacia ellos! Presupuesta trabajos en SPODS! 
                            </p>
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="//www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>-->

                <!--<div class="card">
                    <div class="card-header linkManual" role="tab" id="tituloCinco" data-toggle="collapse" data-parent="#accordionVideos" href="#collapseCinco" aria-expanded="true" aria-controls="collapseCinco">
                        <h5 class="mb-0">
                            Cómo aceptar un presupuesto?
                        </h5>
                    </div>
                    <div id="collapseCinco" class="collapse" role="tabpanel" aria-labelledby="tituloCinco">
                        <div class="card-block">
                            <p class="text-justify">
                                En esta sección, se presenta un video explicativo de cómo aceptar un presupuesto de los realizados en tu publicación.<br>
                                Presupuestos disparatados? Calificaciones que no te convencen?<br>
                                Sé tú quien decida qué usuario es el más adecuado para realizarte el trabajo!
                            </p>
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="//www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>-->

            </div>
        </div>
    </div>
</div>